.team1 {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    padding-bottom: 10px ;
    margin-left: 10px;
    
    
}
.team2 {
    display: flex;
    justify-content: space-evenly;
    margin: 5px;
    padding-bottom: 10px ;
    margin-left: 10px;
    
}

.titulo{
    font-size: 50px;
    align-items: center;
    text-align: center;
    padding: 30px;
    margin: 76px;
    color: #939BF5;
}




.colaborador{
    width: 280px;
    
   }

.colaborador .cabecalho {
    background-color:  #FFFFFF;
    border-radius: 15px 15px 0px 0px;
    text-align: center;
    font-size: 15px;
}




.colaborador .rodape {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    border-radius: 0px 0px 10px 10px;
    padding-top: 10px;
    padding-bottom: 40px;
}

.colaborador .rodape h5 {
    font-size: 14px;
    line-height: 24px;
    color: #212121;
    padding: 0 16px;
}


@media (max-width:850px){
    .team1{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin: 5px;
        padding-bottom: 15px ;
        margin-left: 10px;
        
    }
}

@media (max-width:860px){
    .titulo{
        font-size: 50px;
        margin-left: 35%;
    }

    .team1{
       flex-direction: column;
       margin-left: 45%;
       
    }
    .team1 .colaborador{
        margin: 5%;
        
     }
    .team2 .colaborador{
        margin: 5%;
        
     }
    .team2{
        flex-direction: column;
        margin-left: 45%;
        
     }
}

@media (max-width:768px){
    .titulo{
        font-size: 50px;
        margin-left: 25%;
    }
    

    .team1 div{
        padding: 10px;
        margin-left: 20%;
    }
    .team2 div{
        padding: 10px;
        margin-left: 20%;
    }
}

@media (max-width: 320px){
    .team1 div{
        padding: 10px;
    }
    .team2 div{
        padding: 10px;
    }
}

@media(max-width:438px){
    .titulo{
        margin-left: 45%;
    }
    .team1{
        margin-left: 20%;
        margin-bottom: 10%;
    }
    .team1 .colaborador .cabecalho{
        width: 80%;
        
    }
    .team1 .colaborador .rodape{
        width: 80%;
        
    }
    .team2{
           flex-direction: column;
           margin-left: 18%;
           margin-bottom: 5%;
    }
}

@media (max-width: 425px){
    .titulo{
        font-size: 60px;
        margin-left: 25%;
    }
   
    
}
