.cabecalho{
    display: flex;
    justify-content: space-between;
    align-items: center;  
 }


 .cabecalho nav{
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 100%;
    align-items: center;
    
}

.cabecalho a{
    text-decoration: none;
    font-weight:bold;
    font-size: 40px;
    padding: 2% 3.2%;
    font-family:'Space Grotesk', sans-serif; 
    border: 2px solid black;
    border-radius: 14%;
}