.inicio{
    display: flex;
    justify-content: center;
    margin-right: 15%;
}

.inicio img{
    width: 60vh;
}
.inicio h1{
    display: block;
    width: 531px;
    height: 185px;
    font-size: 40px;
    padding: 5%;
    margin-top: 5%;
}

.inicio h1 p{
    width: 498px;
    height: 72px;
    font-size: 16px; 
    margin-top: 5%;
}

.inicio h1 button{
    width: 301px;
    height: 68px;
    border-radius: 14px;
    padding: 20px, 35px, 20px, 35px;
    background-color: #000000;
    color: #939BF5;
}

